* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#hero {
    background-image: url(../images/herocropped.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
}

#hero h2 {
    font-size: 40px;
    margin: 18px;
}

#hero h4 {
    font-size: 18px;
    margin: 18px;
}

#hero a {
    margin: 18px;
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
    padding: 18px 40px;
    font-weight: bolder;
    border: 4px solid black;
}

#hero a:hover {
    color: black;
    border: 4px solid black;
    background-color: whitesmoke;
}

#layout {
    max-width: 800px;
    margin: 48px  auto;
    text-align: center;
}


#layout h3 {
    text-transform: uppercase;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border:3px solid black;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}