* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
    ;
}

#header {
    grid-area: header;
    padding: 0px 36px;
    margin-bottom: 12px;
    border-bottom: 2px inset black;
    background: radial-gradient(at top left, rgba(255, 192, 203, 0.295), rgba(255, 160, 122, 0.559), rgba(255, 68, 0, 0.745));
}

#header a {
    text-decoration: none;
}

#header #my {
    color: #080404;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#header #stream {
    color: white;
    background: radial-gradient(at top left, pink, lightsalmon, orangered);
    padding: 8px;
    border-radius: 100px;
}

#sidebar {
    grid-area: sidebar;
    margin: 12px;
    border-radius: 50px;
}

#sidebar ul {
    list-style-type: none;
    padding: 12px 8px;
    margin: 0px;
    border-bottom: 2px inset black;
}

#sidebar ul a {
    text-decoration: none;
    color: #111;
    display: block;
    padding: 12px;
    font-variant:small-caps;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#sidebar ul a:hover {
    background-color: rgba(255, 127, 80, 0.237);
    border-radius: 150px;
}

#main {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
}

.mystream-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
    text-align: center;
}

.mystream-item .thumbnail {
    border-radius: 150px;
    background: radial-gradient(at top left, pink, lightsalmon, orangered);
    aspect-ratio: 16 / 9;
}

.mystream-item h4 {
    margin: 8px;
}

.mystream-item h4 a {
    text-decoration: none;
    color: #111;
    display: block;
}

.mystream-item h4 a:hover {
    text-decoration: underline;
}

.mystream-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.mystream-item .channel {
    margin-bottom: 4px;
}

#m1 .thumbnail {
    background-image: url(../images/mystream1.png);
    background-size: cover;
}

#m2 .thumbnail {
    background-image: url(../images/mystream2.png);
    background-size: cover;
}

#m3 .thumbnail {
    background-image: url(../images/mystream3.png);
    background-size: cover;
}

#m4 .thumbnail {
    background-image: url(../images/mystream4.png);
    background-size: cover;
}

#m5 .thumbnail {
    background-image: url(../images/mystream5.png);
    background-size: cover;
}

#m6 .thumbnail {
    background-image: url(../images/mystream6.png);
    background-size: cover;
}