/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-2 {
    max-width: 350px;
    background-color: white;
    border: 1px solid rgb(215, 203, 234);
    border-radius: 35px;
    margin: 18px;
}


.animagram-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.brand-name {
    font-weight: bold;
    font-size: 28px;
}

.profile-pic-container {
    text-align: center;
    margin-bottom: 18px;
}

.card-style-2 img {
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.card-style-2 h2,
p {
    text-align: center;
    margin: 0px;
}

.card-style-2 p {
    padding: 20px;
    margin-bottom: 18px;
}

.animagram-footer {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.animagram-footer span {
    font-size: 24px;
}

