/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border: 5px outset;
    display: inline-block;
}

.peach {
    background-color: rgb(247, 163, 104);
    border-color: rgb(247, 163, 104);
}

.coral {
    background-color: rgb(241, 105, 67);
    border-color: rgb(241, 105, 67);
}

.yellow {
    background-color: rgb(255, 200, 33);
    border-color: rgb(255, 200, 33);
}

.red {
    background-color: rgb(244, 65, 65);
    border-color: rgb(244, 65, 65);
}

.orange {
    background-color: rgb(255, 111, 0);
    border-color: rgb(255, 111, 0);
}

.gold {
    background-color: orange;
    border-color: orange;
}

.empty {
    background-color: transparent;
    border-color: transparent;
}

.long {
    padding: 20px 70px;
}

.med {
    padding: 20px 45px;
}