#navbar {
    text-align: center;
    background-color: rgb(1, 1, 157);
    padding: 24px;
}

#navbar a {
    color: white;
}

p a {
    color: teal;
}

p.warning {
    color: red;
}

p.warning a {
    color: orange;
}

ul {
    color: green;
}

ul a  {
    color: lime;
}

ul p a {
    color: purple;
}

ul div a {
    color: lightblue;
}