@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    border: 2px solid black;
    padding: 24px;
    background:linear-gradient(55deg, 
    lavenderblush,
    rgb(127, 167, 174), 
    lavender, 
    rgb(199, 160, 160), 
    lavenderblush
    );
    border-radius: 24px;
    width: 700px;
    box-shadow: 8px 4px 6px black;
}

h1 {
    color: navy;
    margin: 8px 0px;
    
}

#left-side {
    display: inline-block;
    width: 65%;
}


h4 {
    color: white;
    background-color: navy;
    text-align: center;
    padding: 8px;
    margin: 0px;
    font-size: 24px;
}


#id-and-expiration div {
    display: inline-block;
    margin: 2px 8px 12px;
    color: navy;
}

#id-and-expiration span {
    color: rgb(227, 47, 47);
    font-weight: bold;
}

#address {
    font-weight: bold;
    font-size: 14px;
    margin: 9px;
}

#data-fields, #small-pic {
    display: inline-block;
}

#small-pic img {
    width: 90px;
    opacity: 0.5;
}

#data-left, #data-right {
    display: inline-block;
    color: navy;
    margin: 8px;
}

#data-left span, #data-right span {
    color: rgb(214, 50, 50);
    font-weight: bold;
}

#signature {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Ms Madi';
}

#right-side {
    vertical-align: top;
    display: inline-block;
    width: 34%;
}

#right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#donor-and-real-id {
    padding: 4px;
    text-align: center;
}
#donor-and-real-id div {
    display: inline-block;
    text-align: right;
}

#donor {
    color: rgb(213, 60, 60);
    font-weight: bold;
    padding-right: 24px;
}

#real-id {
    display: inline-block;
    background-color: gold;
    font-size: 24px;
    text-align: center;
    padding: 4px;
    border-radius: 50%;
}

#real-id i {
    color: white;
}