#pg {
    font-family: cursive;
    text-align: center;
}

#pgc-1 {
    background-color: #ffc800;
    color: #222;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#pgc-2 {
    background-color: #fd8b7c;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}

#pgc-3 {
    background-color: #C0564B;
    font-family: sans-serif;
    text-align: center;
    padding: 24px;
}