/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-1 {
    width: 350px;
    border: 0px solid transparent;
    box-shadow: -4px 4px 12px black;
    background-color: rgb(238, 251, 238);
    margin: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-style-1 img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
}

.card-style-1 h2 {
    text-align: center;
}

.card-style-1 p {
    padding: 12px;
    margin: 12px;
}

.card-style-1 a {
    color: white;
    text-decoration: none;
    background-color: green;
    font-size: 28px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 12px;
    border: 2px solid green;
    transition:
        background-color 0.5s,  
        color 0.5s;
}

.card-style-1 a:hover {
    background-color: rgba(110, 146, 110, 0.899);
    border: 2px solid green;
    color: green;
}
