@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    /* background: linear-gradient(to bottom,
    #ffffffe8,
    #fefdffbb), 
    url(../images/backdrop.png); */
}

h1, h2 {
    font-family: "IM Fell DW Pica", serif;
}

#navbar img {
    width: 130px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar {
    background: linear-gradient(to right, white, #90749E, #543263);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    color: white;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 13px 24px 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
        z-index: 10;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #90749E;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #543263;
}

#hero,
#hero2 {
    background-image: url(../images/hero1.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
}

#hero {
    border-bottom: 18px solid #90749E;
}

#hero2 {
    border-top: 18px solid #90749E;
    margin-bottom: 0px;
}

#hero h2 {
    font-size: 48px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 2px solid #90749E;
}

#hero h4 {
    color: whitesmoke;
    padding: 0px;
    font-weight: bold;
    margin-left: 32px;
}

#hero a,
.single-column a {
    text-align: center;
    text-decoration: none;
    color: #543263;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #faf4ff;
    padding: 12px;
    margin-left: 32px;
    box-shadow: -4px 6px 6px #b9b1b1;
    margin-bottom: 36px;
}

#hero2 {
    color: whitesmoke;
    text-align: center;
    padding: 48px;
    font-size: 18px;
    font-weight: bold;
}

.single-column {
    margin: 0px auto;
    width: 75%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, #543263, #90749E, #543263);
    padding: 24px;
    color: whitesmoke;
    margin-bottom: 48px;
    margin-top: 48px;
    box-shadow: -4px 6px 6px #605161;
}


.single-column h1 {
    border-bottom: 2px solid #90749E;
}

.single-column h3 {
    font-style: italic;
    margin-bottom: 0px;
}

.single-column p {
    font-size: 18px;
    padding: 32px;
}

#centered-column {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid transparent;
    padding: 24px;
    margin: 48px;
    color: whitesmoke;
    text-align: center;
    flex: 1 300px;
}

.card h2 {
    margin: 48px;
    text-transform: uppercase;
}

#card1 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/bites1.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: -4px 6px 6px #605161;
}

#card2 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/bites2.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: -4px 6px 6px #605161;
}

#card3 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a),  
    url(../images/bites3.jpg);
    background-size: cover; 
    background-position: top;
    box-shadow: -4px 6px 6px #605161;
}

.card a {
    text-align: center;
    text-decoration: none;
    color: #543263;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #faf4ff;
    padding: 12px;
    box-shadow: -4px 6px 6px #b9b1b1;
    margin: 48px;
}

.side-by-side {
    height: 600px;
    display: flex;
    border-bottom: 18px solid #90749E;
}

#side-by-side-img {
    flex: 1;
    background-image: url(../images/mysteryhero.jpg);
    background-size: cover;
    background-position: center center;
}

#side-by-side-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    padding: 48px;
    text-align: center;
}

#side-by-side-content h2 {
    font-size: 32px;
}

#cards-container,
.menu-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-container #menu-header {
    flex-basis: 100%;
    padding: 12px;
    margin: 24px;
    border-bottom: 4px solid #90749E;
    text-transform: uppercase;
}

#menu-page .card {
    flex: 1 300px;
}

#mcard1 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m1.jpg);
    background-size: cover;
    background-position: 25%;
    
}

#mcard2 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m2.jpg);
    background-size: cover;
    background-position: top;
}

#mcard3 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m3.jpg);
    background-size: cover;
    background-position: 25%;
}

#mcard4 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m4.jpg);
    background-size: cover;
    background-position: top;
}

#mcard5 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m5.jpg);
    background-size: cover;
    background-position: 25%;
}

#mcard6 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m6.jpg);
    background-size: cover;
    background-position: top;
}

#mcard7 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m7.jpg);
    background-size: cover;
    background-position: 25%;
}

#mcard8 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m8.jpg);
    background-size: cover;
    background-position: top;
}

#mcard9 {
    background: linear-gradient(to bottom,
    #25232388,
    #1404049a), 
    url(../images/m9.jpg);
    background-size: cover;
    background-position: 25%;
}


#footer {
    background: linear-gradient(to right, #90749E, #543263);
    color: whitesmoke;
    padding: 14px;
    margin: 0px;
}

#footer a {
    color: whitesmoke;
    text-decoration: none;
}

#footer-nav {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 985px) and (min-width: 769px) {

    #centered-column {
        display: flex;
        flex-direction: column;
    }

    #centered-column .card {
        flex: 1 700px;
        width: 70%;
        margin: 24px auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 580px) {

    #centered-column {
        display: flex;
        flex-direction: column;
    }

    .side-by-side {
        display: flex;
        flex-direction: column;
    }

    #centered-column .card {
        flex: 1 500px;
    }

    #side-by-side-img {
        background-position: bottom center;
    }
}

@media screen and (max-width: 580px) {

    #centered-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #centered-column .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
    }

    .card h2 {
        margin: 0px;
        text-transform: uppercase;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, white, #90749E, #543263);
    }

    #navbar #logo {
        text-align: center;
        margin-right: 0px;
    }

    .side-by-side {
        display: flex;
        flex-direction: column;
    }

    #side-by-side-img {
        background-position: bottom center;
    }
}