@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#home {
    height: 100vh;
    display: flex;
    border-bottom: 20px solid #ceb8a3
}

#text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: rgb(30, 25, 25);
    background-color: #f1e5d8;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#img {
    flex: 1;
    background-image: url(../images/tjcreativeportrait.jpg);
    background-size: cover;
    background-position: center center;
}

#text h2, #about h2, #contact h2, #layout h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 68px;
}


p, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#home h2 {
    font-size: 48px;
    margin: 18px;
}

#home h4 {
    font-size: 18px;
    margin: 18px;
}

#home a {
    margin: 18px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #ceb8a3;
    padding: 18px 40px;
    font-weight: bolder;
    border: 2px solid #ceb8a3;
    box-shadow: -2px 2px 2px rgb(163, 162, 162);
}

#home a:hover {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background-color: #ceb8a3;
}

#about {
    height: 100vh;
    display: flex;
    border-bottom: 20px solid #ceb8a3;
}

#about-img {
    flex: 1;
    background-image: url(../images/light1.JPG);
    background-size: cover;
    background-position: center left;
}

#about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: whitesmoke;
    background-color: black;
    padding: 48px;
}

#about h2 {
    font-size: 40px;
    margin: 18px;
    text-align: center;
}

#about h4 {
    font-size: 18px;
    margin: 18px;
    text-align: center;
    padding: 12px;
}


#contact {
    height: 100vh;
    display: flex;
    border-bottom: 10px solid #ceb8a3;
}

#contact-content {
    flex: 1;  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    background-color: whitesmoke;
}

#contact-img {
    flex: 1;
    background-image: url(../images/portrait2.JPG);
    background-size: cover;
    background-position: center center;
}


#contact h2 {
    font-size: 40px;
    margin: 18px;
}

#contact h4 {
    font-size: 18px;
    margin: 18px;
}

#layout {
    max-width: 80%;
    margin: 0px auto;
    text-align: center;
    background-color: whitesmoke;
}

#layout h2 {
    background-color: whitesmoke;
    margin: 0px;
    padding: 48px;
    color: black;
    text-transform: uppercase;
    font-size: 54px;
}

.gallery {
    columns: 3 auto;
    column-gap: 24px;
    background-color: whitesmoke;
    padding: 48px;
    border-bottom: 10px solid #ceb8a3;
}

.gallery img {
    width: 100%;
    margin-bottom: 24px;
    box-shadow: -2px 2px 2px rgb(163, 162, 162);
}

#footer {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/flowers.JPG);
    border-bottom: 20px solid #ceb8a3;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 24px;
    box-shadow: -4px 4px 18px rgb(4, 0, 0);
    background-color: #f1e5d8;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    border-bottom: 10px solid #ceb8a3;
}

.card h2 {
    font-size: 28px;
    font-family: "DM Serif Display", serif;
    text-transform: uppercase;
    margin: 50px;
}

.card p {
    font-size: 14px;
    text-transform: capitalize;
}

.card a {
    margin: 18px;
    text-decoration: none;
    color: black;
    background-color: #ceb8a3;
    padding: 18px 40px;
    font-weight: bolder;
    border: 2px solid #ceb8a3;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.card a:hover {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    background-color: #ceb8a3;
}

#contact-img {
    flex: 1;
    background-image: url(../images/selfportrait1.jpg);
    background-size: cover;
    background-position: center center;
}

