* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 80%;
    min-width: 500px;
    max-width: 1000px;
    margin: 0px auto;
}

.light-container {
    padding: 50px 0px;
    background-color: rgb(251, 243, 235);
    
}

.dark-container {
    padding: 50px 0px;
    background: linear-gradient(55deg,
    rgba(65, 19, 6, 0.787),
    rgb(206, 180, 131), 
    rgb(251, 243, 235), 
    rgb(206, 180, 131),
    rgba(65, 19, 6, 0.787));
}

#h-1, #h-2, #h-3 {
    text-align: center;
    padding: 24px;
    
}
#p-1, #p-2, #p-3 {
    text-align: center;
    padding: 48px;
    font-size: 20px;
    font-style: italic;
}

#img-1 {
    width: 100%;
}


#img-2 {
    width: 100%;
}


#img-3 {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center 10%;
}